@import url(../css/root.css);
@import url(../css/cabecalho.css);
@import url(../css/rodape.css);

.projetos_titulo-principal{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 550px;
}

.projetos_conteudo{
    width: 100%;
    background-color: #226535;
}

.projetos_titulo{
    margin: 0;
    width: 100%;
    padding: 20px 0;

    text-align: center;
    text-transform: uppercase;
    color: white;
}

.triangulo:nth-child(2){
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-top: 10px solid #67886e;
}

.triangulo:nth-child(3){
    width: 0; 
    height: 0; 
    border-right: 10px solid transparent;
    border-top: 10px solid #718867;
}

.projetos_texto{
    width: 80vw;
    max-width: 500px;
    line-height: 20px;
}