.rodape{
    background-color: #313131;
    z-index: 0;
}

.rodape_conteudo-links, .rodape_conteudo-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.rodape_conteudo-links{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 1000px;
}
.rodape_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    width: 250px;
}
.rodape_texto{
    font-size: 12px;
}
.rodape_img{
    filter: drop-shadow(4px 3px black);
    width: 50px;
}
.rodape_conteudo-info{
    color: aliceblue;
}
.rodape_info{
    text-align: center;
}

.radape_txt-destaque{
    
    color: #444AA6;
}
.rodape_inf-endereço, .rodape_inf-face, .rodape_inf-contato{
    margin: 0;
    align-self: start;
    text-transform: none;
}

@media screen and (min-width: 840px) {
    .rodape_conteudo-links{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 30px;
    }
}

